@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-5">Bank Simple Application</h3>
    <p>Banks Accounts and Balances</p>   
</div>
<br> 
<div class="text-start">
    @{
        if(@Model.UserName == null){
            <h4>You are not signed In</h4>
        }
        else{
            <h4>Hello @Model.UserName</h4>
            <a href="@Model.Account">Manage Account</a>
            <br>
            <a href="https://login.mgtappsrv.makeen.ye/oauth2/sign_out?rd=https://iam.mgtappsrv.makeen.ye/realms/makeen/protocol/openid-connect/logout">Sign Out</a>
            <br>
            <br>
            <h5>User Info:</h5>
            <pre>@Model.Headers</pre>
            <br>
            <br>
        }
    }
</div>
<br>
<h5>Member Accounts</h5>
<div class="account-table">
        <table>
    <thead>
        <tr>
            <th>NAME</th>
            <th>BIC</th>
            <th>Balance (YR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.account_name</td>
                <td>@account.BIC</td>
                <td>@account.balance</td>
            </tr>
        }
    </tbody>
</table>
</div>
